html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.box {
  width: 100%;
  height: 200px;
}
.box div {
  float: left;
  height: 100px;
}
.box div:nth-child(1) {
  background-color: pink;
}
.box div:nth-child(2) {
  background-color: green;
}
.box div:nth-child(3) {
  background-color: yellow;
}